{% extends 'store/main.html' %}
{% load static %}

{% block content %}


<!-- the main banner with our story section -->
<div class="this-is-our-story">
    <div class="small-container center-items about">
        <div class="col-about-3">
            <h1>Our Story</h1>
            <div class="short-summ">
                <p>When I began this company it was just me and my husband. We had full time jobs so it was kinda like our side hustle. After I was diagnosed with a serious disease I was determined to heal myself naturally. After receiving several certifications in nutrition, I decided to try and help others. Thank you for being part of our story. We believe that everyone should Eat To Heal.</p>
            </div>
        </div>

        <div class="col-about-3">
            <h1>Our Future</h1>
            <div class="short-summ">
                <p>We are planning on making great strides in the future by opening our own product line up. Our products will include vitamins, alkeizar water, and protein powerders. We will stand by our belifs of having everything be natural and vegan. Our shop will be going live in a few months. Feel free to subsribe to our news letter to be the first to learn our release date.</p>
            </div>
        </div>

        <div class="col-about-3">
            <h1>Our Standards</h1>
            <div class="short-summ">
                <p>We strongly believe that everything humans eat should be natural. And just like our ancestors we are confident that nature can heal our bodies. Medicine is important and it's made great strides recently but only nature has the power to reverse the effects of illness. How long until everyone realizes this. We don't know. This is the future follow us on this adventure.</p>
            </div>
        </div>
        
    </div>
</div>

<!-- whats new with us section -->
<div class="why-happy">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="sqaure-s">
                    <div class="text">
                        <h1>10500+</h1>
                        <h4>Customers</h4>

                    </div>
                    
                </div>
                <div class="sqaure-m">
                    <div class="text m">
                        <h1>8000+</h1>
                    <h4>Trips</h4>

                    </div>
                    
                </div>
                <div class="sqaure-l">
                    <div class="text l">
                        <h1>500+</h1>
                        <h4>Locations</h4>

                    </div>
                    
                </div>
                

            </div>
            <div class="col-2 padding-left">
                <div class="center">
                    <h1>we love our Customers</h1>
                    
                </div>
                <p>Booking through us will guarantee that all our customers are offered exceptional customer service year round. We have many customer reviews, and always receive great feedback from our diverse clientele. We enjoy making your comfort our priority. Our locations all around the world have been reviewed by many of our certified team members to ensure that all the apartments are clean and look amazing for the next guest. We pride ourselves in being globally recognized as one of the best travel agencies and we will continue to make that our priority. We can continue to prioritize your comfort thanks to many of our partners. You are invited to read the Blog page of this website where many travel bloggers post their experiences. They also make many recommendations to great restaurants that can be found minutes away from any of our houses. Thank you for booking with Valencia and enjoy your stay overseas. 
                </p>
                <a class="butt width-butt" href="#">Read More</a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}


