{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- starting the django checkouot section -->

<div class="main-title main-checkout">
    <h1>Checkout</h1>

</div>
<div class="info-section">
    <div class="box" id="form-wrapper">
        <form action="" id="form">
            <div id="user-info">
                <!-- the user will be prompoted to enter personal infomation -->
                <div class="form-field2">
                    <input required class="form-control" type="text" name="name" placeholder="Name...">
                </div>
                <div class="form-field2">
                    <input required class="form-control" type="email" name="email" placeholder="Email...">
                </div>

            </div>
            <div id="shipping-info">

                <!-- all the perosnal information like address for shipping -->
                <h5>Shipping Information</h5>
                <div class="form-field">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="city" placeholder="City">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="state" placeholder="State">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="zipcode" placeholder="Zipcode">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="country" placeholder="Country">
                </div>


            </div>
            <input id="form-button" class="btn-success" type="submit" value="Saved">
            <div class="btn-success og-btn" id="payment-info">
            
                <button id="make-payment">Ready To Pay</button>
            </div>
        </form>

    </div>

<!-- this will only appear once they have enetered info -->
    <br>
    





    <div class="box">
        <div class="next-box-sec">
            <a  class="og-btn" href="{% url 'cart' %}">&#x2190; Back to Cart</a>

            <br>
            <h3>Order Summary</h3>
            {% for item in items %}
            <div class="check-row">
                <div class="col-img dark"><img class="row-image" src="{{item.product.imageURL}}" ></div>
                
                <div class="inline col-num dark">
                   
                       <div class="next">
                        <p> <span class="needed-small">Item Price: </span> ${{item.product.price}}</p>
                       </div>
                        <div class="dark next" >
                            <p class="quantity"> <span class="needed-small">Quantity: </span> {{item.quantity}}<span class="needed-small">X</span></p>
                        </div>
                        <div class="next" ><p> <span class="needed-small">Item Total: </span> $40</p></div>
                    </div>
            </div>
            {% endfor %}
            <div class="summary-tot">
                <div class="last-info pad-right-side-20"><h5>Items : {{order.get_cart_items}}</h5></div>
                <div class="last-info"><h5>Total : ${{order.get_cart_total|floatformat:2}}</h5></div>

                
                
            </div>

        </div>

        <!-- <div class="btn-success og-btn" id="payment-info">
            
            <button id="make-payment">Make Payment</button>
        </div> -->
    </div>
</div>


<!-- if we had items that did not require shipping we would not -->
<!-- prompt the user to enter their shipping information -->
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_table|floatformat}}'

    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser'){
        document.getElementById('form-wrapper').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden")
    }


    var form = document.getElementById('form')
   

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log("Form submitted...")
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
        // this is woriking fine but something is broken
        // the page is not reloading 
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }
        var shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if(user == 'AnonymousUser'){
            shippingInfo.name = form.name.value
            shippingInfo.email = form.email.value
          
        }

        var url = '/process_order/'
        fetch(url,{
            method: 'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({
                'form':userFormData,
                'shipping':shippingInfo
            }),
        })
        .then((response) => response.json())
        .then((data) => {
            // afte the alert is sent users will redirected to home page
            console.log('Success:', data);
            alert('Transaction completeted');
            window.location.href = "{% url 'store' %}"
        })
        //javascript is ver powerful it can even redirect people
        // rad
        // read django trans docs.

        // read and learn more about javascrip promises 
        // and how they are used in django to create
        // working applications
    }

</script>

<!-- the form code will ensure the user is not taken to an error page -->
<!-- rather it will keep the user in the main page -->



{% endblock content %}