{% extends 'store/main.html' %}
{% load static %}

{% block content %}

{% comment %} <h2>Welcome back {{ request.user|title }} !</h2> {% endcomment %}
<div class="dashboard" style="height: 80vh;">
  <div class="small-container">
    <div class="name-w" style="text-align: center;">
      <h1 style="padding-bottom: 50px;" style="padding-top: 80px;" >Welcome  {{ request.user|title }} </h1>
      <form method="post" action="">
        {% csrf_token %}
        
        <input style="padding-top: 20px;" style="padding-bottom: 20px;" class="submit-butt" type="submit" value="Logout">
        {% comment %} <input type="submit" value="Logout"> {% endcomment %}
    </form>
    </div>
  </div>
</div>


{% endblock content %}

