{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finematter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            var cookieArr = document.cookie.split(";");

            for(var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain;path/"
        }
        console.log('Cart:', cart)
        

        
    </script>

</head>
<body>


    <!-- start of header code -->
    <div class="header-sec">
        <!-- responsive menu bar -->
        <div class="respon-menu">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'store' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'store
                ' %}">Sustainablility</a>
    
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'cart' %}">Cart</a>
              </div>

              <div class="meny-butt">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
              </div>

              <div class="respon-title">
                <div class="title-h">
                    Finematter
                </div>
              </div>
              
        </div>
        <div class="first-header">

            <div class="row">
                <div class="left-nav sm-3">
                    <ul>
                        <li><a href="{% url 'store' %}">Home</a></li>
                        <li><a href="{% url 'store' %}">Sustainablility</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
    
                <div class="middle-nav sm-3">
                    <div class="title-h">
                        Finematter
                    </div>
                </div>
    
                <div class="right-nav sm-3">
                    <ul>
                        <!-- #TODO FIX THIS BUG -->
                        <li><a href="{% url 'store' %}">Search</a></li>
                        <li><a href="{% url 'checkout' %}">Wishlist</a></li>
                        <li class="cart-icon"><a href="{% url 'cart' %}"> <img src="{% static 'img/cart.png' %}" alt=""></a></li>
                        <li><h5 id="cart-total">{{cartItems}}</h5></li>
                    </ul>
                </div>
            </div>

        </div>


<!-- sec small header  -->

        <div class="sec-header">
            <div class="header-items">
                <ul>
                    <li><a href="{% url 'products' %}">New in</a></li>
                    <li><a href="{% url 'products' %}">All jewellery</a></li>
                    <li><a href="{% url 'products' %}">Designers</a></li>
                    <li><a href="{% url 'products' %}">Gift Guides</a></li>
                    <li><a href="{% url 'products' %}">Metals & Gems</a></li>
                    <li><a href="{% url 'products' %}">vintage</a></li>
                </ul>
            </div>
            
        </div>
        <div class="line">
            <hr>
        </div>
    </div>

    <div class="containerrs">
        {% block content %}

        {% endblock content %}
    </div>



<!-- ---------footer ------------ -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Our app is now avaiable on the apple store and the google store. 
                </p>
                <div class="app-logo">
                    <!-- <img src="{% static ' ./img/app-store.png' %}" alt=""> -->
                    <!-- app store imgaes -->
                    <img src="{% static './img/google-wallet.png' %} " alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <i class="fa fa-wpexplorer fa-5x" aria-hidden="true" style="color: #563434;"></i>
                <!-- logo  -->

                <p class="paragraph">We are a small company with a small group of designers that all orignated from Chicago with big dreams of working with well known artist. Now they started their own company and have made on account of their own name. We are happy to also be supporting local photographers.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul id="no-dec">
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul id="no-dec">
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
 
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Estrella Vargas | Teley </p>
    </div>
</div>




    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    
</body>
</html>