{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>


    <!-- start of header code -->
    <div class="header-sec">
        <!-- responsive menu bar -->
        <div class="respon-menu">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'store' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href=""{% url 'store' %}"">Sustainablility</a>
    
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'cart' %}">Cart</a>
              </div>

              <div class="meny-butt">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
              </div>

              <div class="respon-title">
                <div class="title-h">
                    Finematter
                </div>
              </div>
              
        </div>
        <div class="first-header">

            <div class="row">
                <div class="left-nav sm-3">
                    <ul>
                        <li><a href="{% url 'store' %}">Home</a></li>
                        <li><a href=""{% url 'store' %}"">Sustainablility</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
    
                <div class="middle-nav sm-3">
                    <div class="title-h">
                        Finematter
                    </div>
                </div>
    
                <div class="right-nav sm-3">
                    <ul>
                        <li><a href=""{% url 'store' %}"">Search</a></li>
                        <li><a href="{% url 'checkout' %}">Wishlist</a></li>
                        <li class="cart-icon"><a href=""{% url 'cart' %}""><img src="{% static 'img/cart.png' %}" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>


<!-- sec small header  -->

        <div class="sec-header">
            <div class="header-items">
                <ul>
                    <li><a href="{% url 'store' %}">New in</a></li>
                    <li><a href="{% url 'store' %}">All jewellery</a></li>
                    <li><a href="{% url 'store' %}">Designers</a></li>
                    <li><a href="{% url 'store' %}">Gift Guides</a></li>
                    <li><a href="{% url 'store' %}">Metals & Gems</a></li>
                    <li><a href="{% url 'store' %}">vintage</a></li>
                </ul>
            </div>
            
        </div>
        <div class="line">
            <hr>
        </div>
    </div>


<!-- start of the product page  -->

<div class="product-page">
    
    <div class="pro-row">
        <div class="side-bar">
            <div class="side-text">
                <div class="main">
                    <h1>Shop <span class="small-i smaller">all</span> <br>
                    Products</h1>
            
                </div>
            </div>
        </div>

        <div class="container-for-row">
            {% if products %}
            <!-- <div class="row-pre"></div> -->
            <div class="row">
                {% for product in products %}
                <div class="col-4">
                    <div class="number-item">
                        101
                    </div>
                    
                    <img src="{{product.imageURL}}" width="100%" alt="">
                    <div class="item">{{product.name}}</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">${{product.price|floatformat:2}}</div>
                    
                    <div class="add">
                        <button data-product={{product.id}} data-action="add" class="update-cart" >Add to Cart</button>
                    </div>
                </div>
    
                
                {% endfor %}
            </div>

            <!-- next row 2 -->

            <!-- <div class="row">
                <div class="col-4">
                    <div class="number-item">
                        005
                    </div>
                    <img src="{% static './img/high-waisted-pants.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">$2,000</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        006
                    </div>
                    <img src="{% static './img/high-waisted-2.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer"> by Alice Cassius</div>
                    
                    <div class="price">$2,544</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        007
                    </div>
                    <img src="{% static './img/cool-plaid-jacket.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer">by Ophelia Vanbuen</div>
                    
                    <div class="price">$12,900</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        008
                    </div>
                    <img src="{% static './img/last-review.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer"> by Milo Green</div>
                    <div class="price">$3,900</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div> -->

            <!-- end of next row -->


            <!-- <div class="row">
                <div class="col-4">
                    <div class="number-item">
                        009
                    </div>
                    <img src="{% static './img/hi-1.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">$2,580</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        010
                    </div>
                    <img src="{% static './img/hi-3.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer"> by Alice Cassius</div>
                    
                    <div class="price">$7,875</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        011
                    </div>
                    <img src="{% static './img/blazer-4.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer">by Ophelia Vanbuen</div>
                    
                    <div class="price">$12,906</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        012
                    </div>
                    <img src="{% static './img/bomber-jacket.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer"> by Milo Green</div>
                    <div class="price">$3,980</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div> -->


            <!-- <div class="row">
                <div class="col-4">
                    <div class="number-item">
                        013
                    </div>
                    <img src="{% static './img/high-waisted-1.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">$2,580</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        014
                    </div>
                    <img src="{% static './img/heels-1.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer"> by Alice Cassius</div>
                    
                    <div class="price">$605</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        015
                    </div>
                    <img src="{% static './img/cartoon-1.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer">by Ophelia Vanbuen</div>
                    
                    <div class="price">$900</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        016
                    </div>
                    <img src="{% static './img/four.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer"> by Milo Green</div>
                    <div class="price">$2,000</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div> -->


            <!-- next row 2 -->

            <!-- <div class="row">
                <div class="col-4">
                    <div class="number-item">
                        017
                    </div>
                    <img src="{% static './img/floral-4.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">$880</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        018
                    </div>
                    <img src="{% static './img/floral-3.jpg' %} " width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer"> by Alice Cassius</div>
                    
                    <div class="price">$908</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        019
                    </div>
                    <img src="{% static './img/floral-2.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer">by Ophelia Vanbuen</div>
                    
                    <div class="price">$18,006</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        020
                    </div>
                    <img src="{% static './img/floral-1.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer"> by Milo Green</div>
                    <div class="price">$3,980</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div> -->
            {% endif %}
        </div>





      
    </div>
    
</div>

<!-- ---------footer ------------ -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Our app is now avaiable on the apple store and the google store. 
                </p>
                <div class="app-logo">
                    <img src=" {% static ' ./img/app-store.png' %}" alt="">
                    <!-- app store imgaes -->
                    <img src="{% static './img/google-wallet.png' %} " alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <i class="fa fa-wpexplorer fa-5x" aria-hidden="true" style="color: #563434;"></i>
                <!-- logo  -->

                <p class="paragraph">We are a small company with a small group of designers that all orignated from Chicago with big dreams of working with well known artist. Now they started their own company and have made on account of their own name. We are happy to also be supporting local photographers.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul id="no-dec">
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul id="no-dec">
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
 
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Estrella Vargas | Teley </p>
    </div>
</div>




    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>

    
</body>
</html>






