{% extends 'store/main.html' %}
{% load static %}

{% block content %}


    <!-- end of header code -->
<div class="main-landing-page">
    <div class="margin-con">
        <div class="row in">



            <div class="col-2">
                <div class="catch-title">
                    <h1>unique <br> 
                        <span class="small-i">and</span>authentic vintage<span class="small-i pad">designer</span> jewellery</h1>
                        <!-- <div class="shop-butt">
                            <a href="#">Shop More &#10230;</a>
                        </div> -->
                </div>
                <!-- shop more button -->
                
            </div>

            <div class="col-2 lower">
                <img src="{% static './img/My Post-5.png' %} " width="100%" alt="">

            </div>



        </div>
    </div>
</div>


<!-- start of the product page  -->

<div class="product-page">
    <div class="main-title">
        <h1>our selection <span class="small-i">of</span> <br>
        <span class="small-i pad">vintage</span>jewellery</h1>

    </div>
    <div class="pro-row">
        <div class="side-bar">
            <div class="side-text">
                <div class="main">
                    <h1>Shop <span class="small-i smaller">all</span> <br>
                    Products</h1>
            
                </div>
            </div>
        </div>
        <div class="container-for-row">
            <!-- <div class="row-pre"></div> -->
           
            <div class="row">
                <div class="col-4">
                    <div class="number-item">
                        001
                    </div>
                    <img src="{% static './img/pro-1' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer">by Miles Carton</div>
                    
                    <div class="price">$2,580</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        002
                    </div>
                    <img src="{% static './img/pro-2.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer"> by Alice Cassius</div>
                    
                    <div class="price">$7,875</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        003
                    </div>
                    <img src="{% static './img/pro-3.jpg' %}" width="100%" alt="">
                    <div class="item">Necklace</div>
                    <div class="designer">by Ophelia Vanbuen</div>
                    
                    <div class="price">$12,906</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="number-item">
                        004
                    </div>
                    <img src="{% static './img/pro-4.jpg' %}" width="100%" alt="">
                    <div class="item">Earrings</div>
                    <div class="designer"> by Milo Green</div>
                    <div class="price">$3,980</div>
                    
                    <div class="add">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
         


         


        </div>
        
    </div>
    
</div>


<!-- 3 frame image section -->

<div class="started-3-banner">
    <div class="main-title lower less">
        <h1>Vintage jewellery<span class="small-i pad">from</span> <br>
        <span class="small-i">the</span>house<span class="small-i pad">of</span>Chanel</h1>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-space-1">
                <div class="number-item">
                    004
                </div>
                <img src="{% static './img/show-3.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer"> by Milo Green</div>
                <div class="price">$3,980</div>
                
                
            </div>

            <div class="col-space-2 padding-bot">
                <div class="number-item">
                    004
                </div>
                <img src="{% static './img/show-2.jpg' %}" width="100%" alt="">
                
                
                
                
            </div>

            <div class="col-space-3">
                <div class="number-item">
                    004
                </div>
                <img src="{% static './img/show-1.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer"> by Milo Green</div>
                <div class="price">$3,980</div>
                
                
            </div>
        </div>
    </div>
</div>


<!-- begin the partner quote -->
<div class="partner">
    <div id="no-pad" class="main-title lower less">
        <h3>quote  from  our  expert</h3>

    </div>
    
    <div id="pad-less" class="main-title lower less">
        <h1><span class="small-i name">Jennifer Gibson: </span>"To me, when done well, <br>
        the <span class="small-i">best</span>vintage jewellery is<span class="small-i pad">soulful</span>.<br>
        It<span class="small-i pad">is</span>a soulful<span class="small-i pad">experience</span>."</h1>

    </div>
    <div class="picture-of-designer">
        <img src="{% static './img/My Post-7.png' %} " width="50%" alt="">
    </div>
</div>

<!-- this will repeat three banner section -->


<!-- 3 frame image section -->

<div class="started-3-banner">
    <div class="main-title lower less">
        <h1>Incredible Vintage <br>
            Givenchy Jewellery
        </h1>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-space-1">
                <div class="number-item">
                    001
                </div>
                <img src="{% static './img/hi-3.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer"> by Milo Green</div>
                <div class="price">$3,980</div>
                
                
            </div>

            <div class="col-space-2 padding-bot">
                <div class="number-item">
                    002
                </div>
                <img src="{% static './img/hi-2.jpg' %}" width="100%" alt="">
                
                
                
                
            </div>

            <div class="col-space-3">
                <div class="number-item">
                    003
                </div>
                <img src="{% static './img/hi-1.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer"> by Milo Green</div>
                <div class="price">$3,980</div>
                
                
            </div>
        </div>
    </div>
</div>


<!-- start of the product page repeat -->

<div class="product-page">
    <div class="main-title">
        <h1>our selection <span class="small-i">of</span> <br>
        <span class="small-i pad">vintage</span>jewellery</h1>

    </div>
    <div class="pro-row">
        <div class="side-bar">
            <div class="side-text">
                <div class="main">
                    <h1>Shop <span class="small-i smaller">all</span> <br>
                    Products</h1>
            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="number-item">
                    001
                </div>
                <img src="{% static './img/rings-1.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer">by Miles Carton</div>
                
                <div class="price">$2,580</div>
                
                <div class="add">
                    <button>Add to Cart</button>
                </div>
            </div>

            <div class="col-4">
                <div class="number-item">
                    002
                </div>
                <img src="{% static './img/rings-2.jpg' %}" width="100%" alt="">
                <div class="item">Necklace</div>
                <div class="designer"> by Alice Cassius</div>
                
                <div class="price">$7,875</div>
                
                <div class="add">
                    <button>Add to Cart</button>
                </div>
            </div>

            <div class="col-4">
                <div class="number-item">
                    003
                </div>
                <img src="{% static './img/rings-3.jpg' %}" width="100%" alt="">
                <div class="item">Necklace</div>
                <div class="designer">by Ophelia Vanbuen</div>
                
                <div class="price">$12,906</div>
                
                <div class="add">
                    <button>Add to Cart</button>
                </div>
            </div>

            <div class="col-4">
                <div class="number-item">
                    004
                </div>
                <img src="{% static './img/rings-4.jpg' %}" width="100%" alt="">
                <div class="item">Earrings</div>
                <div class="designer"> by Milo Green</div>
                <div class="price">$3,980</div>
                
                <div class="add">
                    <button>Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- last sectio with a large image and a small title
section with another image -->

<div class="final-sec">
    <div class="area">
        <div class="row left-l">
            <div class="col-6">
                <img src="{% static './img/cover-1.jpg' %}" width="100%" alt="">
            </div>
            <div class="col-8">
                <div class="main-title">
                    <h1> beautiful vintage <br> jewellery from <span class="small-i">the</span> <br> house<span class="small-i pad">of</span>dior</h1>

                    <img class="top-space" src="{% static './img/cover-pearls.jpg' %}" alt="" width="40%">
            
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


