
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Comforter&family=Dancing+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');


:root{
    --green: rgb(115, 135, 115);

}

*{
    box-sizing: border-box;
    margin-top: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* header and main banner background img */
.menu-section{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.small-nav{
    position: absolute;
    right: 5%;
    top: 5%;
    display: none;
}
.overlay-menu {
    display: none;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
}
.open{
    display: block;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
  
.overlay-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-left: 2px solid transparent;
    font-family: 'Aboreto', cursive;
}
  
.overlay-menu a:hover, .overlay-menu a:focus {
    border-left: 2px solid var(--green);
}
  
.overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
#close{
    height: 6rem;
    width: 5rem;
    color: white;
    background: transparent;
    border: 0;
}
@media screen and (max-height: 450px) {
    .overlay-menu a {font-size: 20px}
    .overlay-menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
#menu-butt {
    display: block;
}
#menu-butt div{
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem;
    padding: 0;
    background-color: red;
}
@media only screen and (max-width: 900px) {
    .menu-section{
        flex-direction: column;
    }
    .large-nav{
        display: none;
    }
    .small-nav{
        display: block;
    }
}
#logo{
    width: 20rem;
    height: auto;
    display: flex;
    margin: 1rem 0 0 1rem;
}
#logo img{
    width: 7rem;
    height: auto;
    position: relative;
}
#logo h2{
    font-size: 2rem;
    color: #fff;
    margin: 0;
    padding: 1.5rem 0 0 0;
    font-family: 'Aboreto', cursive;
    font-weight: 500;
}
@media only screen and (max-width: 800px){
    #logo img{
        width: 5rem;
    }
    #logo h2{
        font-size: 1.3rem;
    }
}
.landing-half{
    flex-basis: 50%;
    min-width: 250px;
    min-height: 70vh;
    flex-wrap: wrap;
    
}
#green-land{
    background-color: rgb(115, 135, 115);
    height: 70vh;
}
.roxy-rose{
    position: absolute;
    width: auto;
    height: 30rem;
    top: 15%;
    left: 7%;
    padding: 1rem 0 0 1rem;
}
/* bold front title on page */
.main-title{
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 30%;
}
.main-title2{
    width: 30rem;
    position: absolute;
    top: 20%;
    left: 10%;
}
.main-title h1{
    font-family: 'Aboreto', cursive;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
}
.main-title2 h1{
    font-family: 'Aboreto', cursive;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
}
.cursive{
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
@media only screen and (max-width: 1000px) {
    .main-title, .main-title2{
        right: 10%;
    }
    
}
@media only screen and (max-width: 800px){
    .main-title h1{
        font-size: 2rem;
    }
    .cursive{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 450px){
    .main-title{
        left: 25%;
        width: 15rem;
    }
    .roxy-rose{
    height: 20rem;
    top: 15%;
    left: -2%;
    }
}
#palm-land{  
}
#palm-land img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 70vh;
}
#palm-land ul{
    list-style: none; 
    display: flex; 
    width: 35rem;
    justify-content: space-around;
}
#palm-land ul{
    position: absolute;
    top: 5%;
    right: 10%;

}
#palm-land ul li a{
    border-bottom: 2px solid transparent;
    padding: .2rem 1rem;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Aboreto', cursive;
}
#palm-land ul li a:hover{
    border-bottom: 2px solid rgb(77, 77, 117);
}
@media only screen and (max-width: 900px){
    #palm-land img{
        height: 25vh;
    }
    #palm-land{
        height: 30vh;
    }
}

/* this will begin the 3 box section with what we offer */
.three-box-sec{
    position: relative;
    height: max-content;
    z-index: 3000;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    padding: 15px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.box{
    background: rgb(227 232 228);
    box-shadow: 3px 20px 20px 3px rgba(2, 2, 2, 0.1);
}
.col-3 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.main-sec-title{
    width: 100%;
    text-align: center;
}
.main-sec-title h1{
    font-family: 'Aboreto', cursive;
    font-size: 55px;
    color: var(--green);
    font-weight: 700;
    letter-spacing: .1rem;
    padding: 2rem 0 1rem 0;

}

.butt{
    padding: 8px 10px;
    display: block;
    border: 2px solid var(--green);
    text-align: center;
    border-radius: 10px;
    background: rgb(231 167 5 / 12%);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}

.butt:hover{
    background: var(--green);
    color: #fff;
    text-decoration: none;
}

/* starting the two banner section */
.large-conatiner{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.col-2-l{
    padding-top: 30px;
    flex-basis: 45%;
    /* padding: 10px; */
    min-width: 300px;
    transition: transform 0.5s;
}
.two-part-sec{
    padding-top: 1rem;
}
.width-butt{
    width: 12rem;
}
.col-2-l h2{
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--green);
    font-family: 'Aboreto', cursive;
    font-weight: 900;
}
.col-2-l p{
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.col-2-l img{
    height: 30rem;
    object-fit: cover;
}

/* horzionatl banner */
.hoz-banner{
    height: max-content;
    width: 100%;
    object-fit: cover;
    background-color: black;
}



/* this will be four imgaes with a good border radius  */
.container {
    position: relative;
    
}
.container img{
    border-radius: 20px;
}
  
  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 50px;
    right: 40px;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}
.free{
    bottom: 50px;
    right: 20px;
}
.women{
    bottom: 50px;
    right: 40px;
}
.food-c{
    bottom: 50px;
    right: 80px;
}
.title-side{
    padding-top: 50px;
    width: max-content;
    padding-bottom: 50px;
}
@media only screen and (max-width: 450px){
    .title-side{
        width: 15rem;
    }
}
.title-side h2{
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: solid 6px var(--green);
    padding: 5px;
}
.col-4{
    flex-basis: 25%;
    min-width: 250px;
}
.col-4 img{
    width: 100%;
    height: 8rem;
    width: 17rem;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.5);
}
.col-4 h4{
    font-size: 1.3rem;
    position: absolute;
    z-index: 20;
    top: 40%;
    font-family: 'Aboreto', cursive;
    color: #fff;
    font-weight: 600;
}
.four-banner-sec{
    padding-bottom: 50px;
}

.border-side{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

/* this is the blue banner section that is width 100% */
.blue-banner{
    background-color: rgb(227 232 228);
}
.increase-font h1{
    font-size: 30px;
}
.i{
    /* font-style: italic; */
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.top-pad{
    padding-top: 50px;
    padding-bottom: 20px;
}
.sec{
    display: flex;
}
.half{
    display: inline-block;
}
.design{
    width: 10rem;
    padding-right: 1.5rem;
}
.half p{
    font-size: 16px;
}

/* footer section code */
.footer-sec-black{
    background-color: var(--green);
}
.logo{
    color: aliceblue;
    padding-bottom: 20px;
}
.col-5{
    flex-basis: 2fr;
}
.col-5 p{
    color: honeydew;
}
.col-4-s{
    flex-basis: 1fr;
}
.col-4-s ul li{
    padding-top: 10px;
    list-style: none;
}
.col-4-s ul li a{
    text-decoration: none;
    color: rgb(207, 207, 207);
}
.bolded{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
.social-section uil{
    display: flex;
}
.social-section ul li{
    display: inline-block;
}
.tablink {
    background-color: rgb(244 222 177);;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 25%;
    text-transform: uppercase;
  }
  
  .tablink:hover {
    background-color: rgb(244 222 177);;
  }
  
  /* Style the tab content */
  .tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
  }
  .col-6{
      flex-basis: 15%;
      min-width: 200px;
  }
  .col-6 h2{
      color: black;
      font-size: 18px;
      font-weight: 400;
  }
  
  #London {background-color:rgb(244, 222, 177);}
  #Paris {background-color:rgb(209, 188, 188);}
  #Tokyo {background-color:rgb(158, 190, 189);}
  #Oslo {background-color:rgb(115, 135, 115);}

.title-main{
    text-align: center;
    padding-bottom: 20px;
}
.title-main h1{
    font-family: 'Aboreto', cursive;
    color: black;
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 800;
}

  /* this will be imported code to make the main title flicker */
.meet-the-team{
  
    padding-bottom: 80px;
}
.main-banner-title{
    padding-top: 3rem;
    text-align: center;
}
.main-banner-title h2{
    font-family: 'Aboreto', cursive;
    font-size: 4rem;
    font-weight: 900;
    color: var(--green);
}
.col-3-l{
    flex-basis: 30%;
    min-width: 300px;
    align-items: center;
    padding-bottom: 20px;
}
.col-3-l img{
    /* padding-left: 30px; */
    width: 100%;
    
}
.info{
    text-align: center;
}
.name h1{
    font-size: 30px;
    padding-top: 20px;
}
.social-section li a{
    padding-right: 15px;

}
.social-section li a i{
    color: orang;
}

/* this will begin the code for what is teh difference */
.center-img{
    text-align: center;
    margin: auto;
    align-items: center;
}

.col-2-e{
    flex-basis: 45%;
    min-width: 250px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.col-2-e img{
    border-radius: 30%;
    width: 17rem;
}
@media only screen and (max-width: 900px){
    .col-2-e img{
        width: 15rem;
    }
}
.title-diff{
    padding: 2rem 0.2rem;
    text-align: center;
}
.title-diff h1{
    color: var(--green);
    font-family: 'Aboreto', cursive;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.added-pad{
    padding-bottom: 30px;
}
.col-2-e h3{
    color: rgb(17, 39, 17);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
.col-2-e p{
    font-family: 'Poppins', sans-serif;
}



/* whats new with us today */
.why-happy{
    background-color: #fff;
}
.sqaure-s{
    background: rgba(235, 143, 4, 0.192);
    padding: 60px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    /* float: right; */
    margin-right: 20px;
    margin-left: 40%;
    z-index: 3;
    /* margin-bottom: 10px; */
}

.text{
    z-index: 10;
    font-family: 'Patua One', cursive;
}
.text h1{
    font-size: 45px;
    font-weight: 900;
    color: rgb(235, 143, 4);
}
.text h4{
    font-size: 25px;
    font-weight: 500;
    color: rgb(235, 143, 4);
}
.sqaure-m{
    background-color: rgba(11, 138, 6, 0.336);
    padding: 50px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    /* float: right; */
    /* margin: 10px;  */
    /* float: left; */
    /* height: auto; */
    position: relative;
}
.m h1{
    font-size: 35px;
    font-weight: 900;
    color: rgb(11, 138, 6);
}
.m h4{
    font-size: 20px;
    font-weight: 500;
    color: rgb(11, 138, 6);
}
.sqaure-l{
    background-color: rgba(158, 10, 243, 0.233);
    padding: 45px;
    width: fit-content;
    position: relative;
    border-radius: 20%;
    margin-left: 30%;
    margin-top: 10px;
    
}
.l h1{
    font-size: 30px;
    font-weight: 900;
    color: rgba(158, 10, 243);
}
.l h4{
    font-size: 20px;
    font-weight: 500;
    color: rgba(158, 10, 243);
}
.padding-left{
    padding-left: 10px;
}
@media only screen and (max-width: 800px){
    .sqaure-s{
        margin-left: 10%;
    }
}

/* carsouel section */
.car-sec-middle{
    /* height: 60vh; */
    background-color: #a2d9ff;
    /* padding: 30px;
     */
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: double 5px rgb(211, 198, 181);
}
.car-sec-middle h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}


.patterns {
    height: 30vh;
  }
  
  
  
svg text {
    font-family: 'Lora', serif;
    letter-spacing: 10px;
    stroke: #d1b7c6 ;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
   
    animation: textAnimate 5s infinite alternate;
    
}
  
@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(0, 10%, 55%)
  
}
    
100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: rgba(35, 38, 39, 0)
    }
    
}



#under {
   display: inline-block;
   position: absolute;
   left: 3%;
   color:  #b483e29a;
   font-size: 130px;
   font-weight: 400;
   /* opacity: 0.2; */
   text-transform: uppercase;
   font-family: 'Lora', serif;
   z-index: 20;

}
#under2{
   display: inline-block;
   position: absolute;
   right: 7%;
   color: #ffffff5b;
   font-size: 130px;
   font-weight: 300;
   /* opacity: 0.5; */
   text-transform: uppercase;
   font-family: 'Lora', serif;
   z-index: 20;
 
   
}

.over{
    /* z-index: 5; */
}
small{
    color: black;
    font-size: 15px;

}
.top-padding1{
    padding-top: 50px;
    /* background-color: rgba(180, 112, 180, 0.568); */
    padding: 30px;
    margin-top: 20px;
}
.title-m{
    font-size: 35px;
}
.small-pad{
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.unique-box{
   padding-top: 25%;
}
@media only screen and (max-width: 1000px){
    #under2{
        visibility: hidden;
    }
    svg text {
        
        letter-spacing: 5px;
        stroke: #d1b7c6 ;
        font-size: 100px;
        font-weight: 700;
       
        
    }
    

}
@media only screen and (max-width: 900px){
    #under{
       visibility: hidden;
    }
    .top-padding1{
        background-color: rgba(0, 0, 0, 0.753);
        border-radius: 5%;
       
    }
    /* small{
        color: #fff;
    } */
    .title-m{
        color: #fff;
    }
}
.center h1{
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-family: 'Aboreto', cursive;
    color: var(--green);
    font-weight: 900;
}

/* carsouel images */
.overlay{
    position: absolute;
    /* bottom: 0; */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    text-align: center;
}
.item:hover .overlay{
    opacity: 1 ;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    padding-top: 30px !important;
}
.default-menu{
    display: flex;
    flex-basis: wrap;
    max-width: 1250px;
    margin: auto;
    justify-content: space-between;

}
.logo-roxy .menu-se{
    display: inline-block;
}
.logo-roxy{
    display: flex;
}
.logo-roxy i {
    padding-right: 10px;
    color: rgb(66, 99, 66);
}
.roxy-name i{
    display: inline-block;
}
.menu-all-pages{
    background-color: rgb(216, 238, 217);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.default-menu{
    padding-left: 20;
    padding-right: 20;
} 

.btn-group{

}

/* this is our story about us page */
.center-items{
    align-items: center;
    text-align: center;
    align-content: center;
}
.this-is-our-story{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 900px){
    .about{
        flex-direction: column;
    }
}
.col-about-3{
    flex-basis: 35%;
    flex-wrap: wrap;
    min-width: 250px;
    margin: .5rem 1rem;
}
.col-about-3 h1{
    font-size: 2rem;
    font-family: 'Aboreto', cursive;
    color: var(--green);
    font-weight: 700;
}
.col-about-3 p{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1350;
    margin: auto;
}
.col-2{
    flex-basis: 45%;
    min-width: 450px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 600px){
    .col-2{
        min-width: 280px;
    }
}
.footer-sec-black{
    padding-top: 30px;
    padding-bottom: 30px;
}

.custom-butt {
    /* width: max-content; */
    /* width: 150px; */
    padding: 10px 15px;
    /* background-color: burlywood; */
    border: solid 2px purple;
}
.custom-butt a{
    text-decoration: none;
    color: rgb(15, 15, 14);
}
.custom-butt:hover{
    background-color: rgba(128, 0, 128, 0.349);
}
.welcome-page{
    align-content: center !important;
    text-align: center !important;
    align-items: center !important;
    align-self: center;
    background-color: rgb(232, 236, 238);
}
.form-sec{
    align-items: center;
}
.welcome-title h1{
    padding: 2rem 0 1rem 0;
    font-family: 'Aboreto', cursive;
    font-size: 2rem;
    font-size: 3rem;
    font-weight: 800;
    color: var(--green);
}
.form-sec{
    padding-top: 30px;
    /* padding-bottom: 30px; */
}
.submit-butt{
    padding: 15px 20px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(235, 143, 4, 0.425);
    border: none;
}
.submit-butt:hover{
    background-color: rgb(235, 143, 4);
    
}
.form-sec p{
    padding-top: 20px;
}
.form-sec{
    justify-content: space-between;
}
.butt-center{
    padding-top: 30px !important;
}
.dashboard{
    background-color: rgb(211, 171, 199);
}

/* contact form styling for buttons */
.form-sec input{
    padding: 10px 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}
.add-space{
    padding: 30px !important;
}
.help-text{
    padding: 20px !important;
}
body{
    min-height: 100vh;
}
.input-box{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}